<style>
  h1, table, th, td {
  /*border: 2px solid black;*/
  padding: 5px 10px;
  }

  .btn {
    margin-top: 30px;
  }
  h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .box {
    height: 100px;
    width: 500px;
    border: 1px solid rgb(223, 228, 226);
  }
</style>
<div>
  <span>Reason: </span>
  <span><%= adjustment.reason %></span>
  <br />
  <span>User: </span>
  <span><%= adjustment.user.local.name %></span>
</div>
<table>
    <tr>
      <th>SKU</th>
      <th>Name</th>
      <th>Description</th>
      <th>Supplier</th>
      <th>Quantity Change</th>
      <th>Created Date</th>
    </tr>
    <% adjustment.adjustmentList.forEach( function(item) { %>
      <tr>
        <td><%= item.product.sku %></td>
        <td><%= item.product.name %></td>
        <td><%= item.product.description %></td>
        <td><%= item.product.supplier %></td>
        <td><%= item.qtyChange %></td>
        <td><%= adjustment.createdDate.toDateString() %></td>
      </tr>
    <% })%>
</table>
  <div>
    <span>Notes</span>
    <div class="box"></div>
  </div>
