<div class="page-content-section">
    <div class="page-content-headerSection">
        <div>
            <h1 class="page-content-header">Stock Adjustments</h1>
        </div>
        <div>
            <a  href="/stock_adjustment/new" class="btn btn-default createNewProduct">New Stock Adjustment</a>
        </div>
    </div>
    <table class = "tableContainer">
    <tr>
      <th class="cs-tablehead">ID</th>
      <th class="cs-tablehead">Reason</th>
      <th class="cs-tablehead">Notes</th>
      <th class="cs-tablehead">Created Date</th>
      <th class="cs-tablehead">User</th>
      <th class="cs-tablehead">Action</th>
    </tr>
    <% adjustments.forEach( function(adjustment) { %>
    <tr>
      <td class="cs-tabledata"><%= adjustment._id %></td>
      <td class="cs-tabledata"><%= adjustment.reason %></td>
      <td class="cs-tabledata"><%= adjustment.notes %></td>
      <td class="cs-tabledata"><%= adjustment.createdDate.toDateString() %></td>
      <td class="cs-tabledata"><%= adjustment.user.local.name %></td>
      <td>
        <a class="editProduct" href= <%= "/stock_adjustment/" + adjustment._id %> >Show Details</a>
      </td>
    </tr>
    <% } ) %>
    </table>
   
</div>