
<div class="page-content-section">
    <div class="page-content-headerSection">
        <div>
            <h1 class="page-content-header">Sales Orders (Transactions)</h1>
        </div>
        <div>
            <a  href="/sales/new" class="btn btn-default createNewProduct">New Sales Order</a>
        </div>
    </div>
    <table class = "tableContainer">
      <tr>
        <th class="cs-tablehead">Customer Name</th>
        <th class="cs-tablehead">Customer Email</th>
        <th class="cs-tablehead">Item</th>
        <th class="cs-tablehead">Quantity</th>
        <th class="cs-tablehead">Date Created</th>
        <th class="cs-tablehead">Action</th>
        <th class="cs-tablehead"></th>
      </tr>
    <% sales.forEach(function (salesOrder) { %>
      <tr>
        <td class="cs-tabledata"><%= salesOrder.customerName %></td>
        <td class="cs-tabledata"><%= salesOrder.customerEmail %></td>
        <td class="cs-tabledata">
        <% salesOrder.itemList.forEach( function(item) { %>
        <p class="cs-tabledata-paraRemoveMargin"><%= item.product.name %></p>
        <% })%>
        </td>
        <td id = "quantity" class="cs-tabledata">
        <% salesOrder.itemList.forEach( function(item) { %>
        <p class="cs-tabledata-paraRemoveMargin"><%= item.qty %></p>
        <% })%>
        </td>
        <td class="cs-tabledata"><%= salesOrder.createdDate.toDateString() %></td>
        <td class="cs-tabledata">
          <a class = "editProduct" href= <%="/sales/"+ salesOrder._id %> >Edit</a>
        </td>
        <td>
          <form method = "Post" action = <%="/sales/" +salesOrder._id + "?_method=DELETE" %> >
            <button type ="submit" class="deleteProduct cs-tabledata">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>

    </table>
</div> 