<style>

</style>
<div class="page-content-section">
    <div class="page-content-headerSection">
        <div>
            <h1 class="page-content-header">Inventory List</h1>
        </div>
        <div>
            <a href="/products/new" class="btn btn-default createNewProduct">Add New Product</a>
        </div>
    </div>
    <div class="tableContainer">
        <table>
            <tr>
                <th class="cs-tablehead">SKU</th>
                <th class="cs-tablehead">Name</th>
                <th class="cs-tablehead">Product Type</th>
                <th class="cs-tablehead">Brand</th>
                <th class="cs-tablehead">Quantity</th>
                <th class="cs-tablehead">Price</th>
                <th class="cs-tablehead">Active</th>
                <th class="cs-tablehead">Action</th>
                <th class="cs-tablehead"></th>
            </tr>
            <% products.forEach( product => { %>
                <tr>
                    <td class="cs-tabledata"><%= product.sku %></td>
                    <td class="cs-tabledata"><%= product.name %></td>
                    <td class="cs-tabledata"><%= product.productType %></td>
                    <td class="cs-tabledata"><%= product.brand %></td>
                    <td class="cs-tabledata"><%= product.quantity %></td>
                    <td class="cs-tabledata"><%= product.sellingPrice %></td>
                    <td class="cs-tabledata"><%= product.active %></td>
                    <td class="cs-tabledata"><a class="editProduct" href=<%= "/products/" + product._id %> >Edit</a></td>
                    <td>
                        <form method="POST" action=<%="/products/" + product._id + "?_method=DELETE" %> >
                            <button type="submit" class="deleteProduct cs-tabledata">Delete</button>
                        </form>
                    </td>
                </tr>
                <% } ) %>
        </table>
    </div>
</div>
